.count1 
{
    height: 30px;
    width: 30px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    border: 1px solid #1D1F22;
    color: #1D1F22;
    background-color: white !important;

    
}
.count2
{
    height: 30px;
    width: 30px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    border: 1px solid #1D1F22;
    color: #1D1F22;
    background-color: white !important;
}
.Cart h3 
{
    color: #1D1F22;
    font-family: Raleway;
font-size: 30px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;


}
.Cart h4
{
    font-family: 'Raleway';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 18px;


display: flex;
align-items: center;

color: #1D1F22;
}
.Cart p
{
    margin-top: 20px;
    font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 27px;

}
.Cart .delete 
{
    position: absolute;
    top: 25%;
    left: 90%;
    color: #Bc4c2a;
    font-size: 25px;
    

}
